a:link {
  color: #007ACC;
  background-color: transparent;
}

a:visited {
         color: #A6D1F0;
         background-color: transparent;
         text-decoration: none;
}
a:active {
         color: #004A8F;
         background-color: transparent;
  
}

body {
  font-size: 2em;
  font-family: "Arial", sans-serif;
  color: #F0F4F8;
  background-color: #353F66;
}

