a:link {;
  color: #59C4FD;
  background-color: transparent;
}

a:visited {
         color: #B7ECFE;
         background-color: transparent;
         text-decoration: none;
}
a:active {
         color: #59C4FD;
         background-color: transparent;
  
}

body {
  font-size: 2em;
  font-family: "Arial";
  color: white;
  background-color: #22536A;
}
